[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "implot"]
	path = external/implot
	url = https://github.com/epezent/implot
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "nativefiledialog_extended"]
	path = external/nativefiledialog_extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "basalt_headers"]
	path = external/basalt_headers
	url = https://github.com/berndpfrommer/basalt-headers
[submodule "cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Sophus"]
	path = external/Sophus
	url = https://github.com/strasdat/Sophus/
[submodule "eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
