[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "implot"]
	path = external/implot
	url = https://github.com/epezent/implot
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "nativefiledialog_extended"]
	path = external/nativefiledialog_extended
	url = https://github.com/btzy/nativefiledialog-extended
  ignore = dirty
[submodule "glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad/
[submodule "immvision"]
	path = external/immvision
	url = https://github.com/g-tejas/immvision
[submodule "console_bridge"]
	path = external/ros/console_bridge
	url = https://github.com/ros/console_bridge/
  ignore = dirty
[submodule "roscpp_core"]
	path = external/ros/roscpp_core
	url = https://github.com/ros/roscpp_core
[submodule "basalt-headers"]
	path = external/basalt-headers
	url = https://github.com/vilota-dev/basalt-headers
[submodule "libcbdetect"]
	path = external/libcbdetect
	url = https://github.com/vilota-dev/libcbdetect
[submodule "ecal-common"]
	path = external/ecal-common
	url = https://github.com/vilota-dev/ecal-common/
